#main {
  margin: 0 auto;
  padding: 1.6rem 2.6rem;
  min-width: 720px;
  max-width: 960px;
  min-height: 100vh;
  background-color: white;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
