:root {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f0f0f0;
    min-height: 100vh;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, ul, li, p {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    margin: 2rem 0;
    font-size: 1.6rem;
}

h3 {
    margin-top: 2rem;
    font-size: 1.2rem;
}

h4 {
    margin-top: 0.2rem;
    font-size: 1rem;
    font-weight: normal;
}

p {
    margin: 0.8rem 0;
}

.relative {
    position: relative;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}
